page-user-view {
  .user-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }

  .user-view {
    width: 100%;
    background: white;
    position: absolute;
  }
}
